.footer {
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #222;
  color: white;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.logo img {
  height: 40px;
}

.links {
  display: flex;
  gap: 20px;
}

.link {
  color: white;
  text-decoration: none;
}

.contact {
  display: flex;
  align-items: center;
}

.phoneWithFlag {
  display: flex;
  align-items: center;
  gap: 10px;
}

.flagIcon {
  font-size: 20px;
  color: white;
}

.rights {
  font-size: 14px;
  text-align: center;
}
