.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  transition: background-color 0.3s ease, color 0.3s ease;
	background: linear-gradient(to right, #6a0dad, #4f5bd5);
  font-family: 'Arial', sans-serif;
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .content {
    padding: 10px;
  }

  .navbar {
    padding: 10px;
    font-size: 0.9rem;
  }

  .light,
  .dark {
    font-size: 0.9rem;
  }
}
